# Configuración del Servidor SpeedySign
PORT=3001
NODE_ENV=development

# Credenciales de Telegram MTProto (Opcional - Obtén tu API ID en my.telegram.org y tu Bot Token con @BotFather)
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_BOT_TOKEN=
